@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");

:root {
  --font: "Public Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
}

nav {
  display: flex;
  justify-content: space-between;
}

.header__menu span {
  justify-content: flex-end;
  background-color: black;
  display: block;
}

.header__links {
  justify-content: center;
  align-items: center;
}
